{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>School-Admin</title>
    <meta name="description" content="School-Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel" style="width:20em;">
        <nav class="navbar navbar-expand-sm navbar-default">
          <div style="position:fixed;">
          <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand"><u>VEDHAM SCHOOL</u></a>
                <a class="navbar-brand hidden" href="./">V</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/home/student"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title"><strong><u>Subjects</u></strong></h3>
                    {% for i in d_subs %}
                      <li>
                          <a href="/subject/{{i}}">{{i}}</a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <h3>Student</h3>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                      <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <h3>{{name}}&nbsp;&nbsp;<a href='/logout'><i class="fa fa-power-off" style="color:red;"></i></a></h3>
                      </a>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard-{{subject}}</h1>
                    </div>
                </div>
            </div>
        </div>
        {% if nothing == '1' %}
        <h2>No Test Conducted Yet!</h2>
        {% else %}
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Student Performance</h4>
            </div>
            <div class="card-body">
            <div class="content mt-3">
              <div class="animated fadeIn">
                <div class="col-lg-12">
                  <div class="pt-2 card-body">
                    <div class="mt-3 row">
                      <div class="col-md-6">
                        <div class="widget-content">
                          <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-right">
                                <div class="text-muted opacity-6"><strong>Understandability Section</strong></div>
                              </div>
                              <div class="widget-content-left mr-3">
                                <div class="widget-numbers fsize-3 text-muted"><span class="count">{{tiles.0.1}}</span>%</div>
                              </div>

                            </div>
                            <div class="widget-progress-wrapper mt-1">
                              <div class="progress-bar-sm progress-bar-animated-alt progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{tiles.0.1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tiles.0.1}}%;"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget-content">
                          <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-right">
                                <div class="text-muted opacity-6"><strong>Conceptual Section</strong></div>
                              </div>
                              <div class="widget-content-left mr-3">
                                <div class="widget-numbers fsize-3 text-muted"><span class="count">{{tiles.1.1}}</span>%</div>
                              </div>

                            </div>
                            <div class="widget-progress-wrapper mt-1">
                              <div class="progress-bar-sm progress-bar-animated-alt progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{tiles.1.1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tiles.1.1}}%;"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider mt-4"></div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget-content">
                          <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-right">
                                <div class="text-muted opacity-6"><strong>Creativity Section</strong></div>
                              </div>
                              <div class="widget-content-left mr-3">
                                <div class="widget-numbers fsize-3 text-muted"><span class="count">{{tiles.2.1}}</span>%</div>
                              </div>

                            </div>
                            <div class="widget-progress-wrapper mt-1">
                              <div class="progress-bar-sm progress-bar-animated-alt progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{tiles.2.1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tiles.2.1}}%;"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget-content">
                          <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-right">
                                <div class="text-muted opacity-6"><strong>Skills Section</strong></div>
                              </div>
                              <div class="widget-content-left mr-3">
                                <div class="widget-numbers fsize-3 text-muted"><span class="count">{{tiles.3.1}}</span>%</div>
                              </div>

                            </div>
                            <div class="widget-progress-wrapper mt-1">
                              <div class="progress-bar-sm progress-bar-animated-alt progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{tiles.3.1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tiles.3.1}}%;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider mt-4"></div>
                  <div class="mt-3 row">
                    <div class="col-md-6">
                      <div class="widget-content">
                        <div class="widget-content-outer">
                          <div class="widget-content-wrapper">
                            <div class="widget-content-right">
                              <div class="text-muted opacity-6"><strong>Application Section</strong></div>
                            </div>
                            <div class="widget-content-left mr-3">
                              <div class="widget-numbers fsize-3 text-muted"><span class="count">{{tiles.4.1}}</span>%</div>
                            </div>

                          </div>
                          <div class="widget-progress-wrapper mt-1">
                            <div class="progress-bar-sm progress-bar-animated-alt progress">
                              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{tiles.4.1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tiles.4.1}}%;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="widget-content">
                        <div class="widget-content-outer">
                          <div class="widget-content-wrapper">
                            <div class="widget-content-right">
                              <div class="text-muted opacity-6"><strong>Knowledge Section</strong></div>
                            </div>
                            <div class="widget-content-left mr-3">
                              <div class="widget-numbers fsize-3 text-muted"><span class="count">{{tiles.5.1}}</span>%</div>
                            </div>

                          </div>
                          <div class="widget-progress-wrapper mt-1">
                            <div class="progress-bar-sm progress-bar-animated-alt progress">
                              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{tiles.5.1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tiles.5.1}}%;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider mt-4"></div>
                  <div class="divider mt-4"></div>

                  <!-- Student Graph Starts-->
                  <div class="animated fadeIn">
                    <div class="col-lg-12">
                        <h4 class="mb-3">Student and Average Test Marks</h4>
                        <canvas id="subject_student_chart"></canvas>
                        <input type="text" id="url" value="{{url}}" hidden="true" />
                    </div>
                  </div>
                </div>

                </div>
              </div>
            </div>
          </div>
          </div>
        </div>



      {% for i in test_average %}
      <a href="/test/{{subject}}/{{i.0}}">
        <div class="col-sm-6 col-lg-3">
            <div class=" {{i.2}} ">
                <div class="card-body pb-0">
                    <h2 class="mb-0">
                        <span>{{i.0}}</span>
                    </h2>
                    <br>
                    <br>
                    <p class="text-light">Student Score : <span class="count">{{i.1}}</span>%</p>
                </div>

            </div>
        </div>
      </a>
      {% endfor %}
         <!-- .content -->
      {% endif %}
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
    <script src="{% static 'js/init-scripts/chart-js/chartjs-init.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
